{% extends 'base.html' %}

{% block content %}
<h2>Clientes</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Nome completo</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.endereco }}</td>
            <td>{{ cliente.bairro }}</td>
            <td>{{ cliente.cidade }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>
                <a href="{% url 'detalhes_cliente' pk=cliente.pk %}"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'excluir_cliente' pk=cliente.pk %}"><i class="bi bi-trash bi-5x"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'cadastrar_cliente' %}" class="btn btn-primary">Cadastrar Cliente</a>
{% endblock %}
